<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFlowHub">
                    <security mode="None" />
                </binding>
                <binding name="CustomBinding_IFlowHub">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/FlowHub/service" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IFlowHub" contract="FHSvc.IFlowHub"
                name="WSHttpBinding_IFlowHub" />
            <endpoint address="http://localhost:8733/FlowHub/service/stream"
                binding="wsHttpBinding" bindingConfiguration="CustomBinding_IFlowHub"
                contract="FHSvc.IFlowHub" name="CustomBinding_IFlowHub" />
        </client>
    </system.serviceModel>
</configuration>